@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Libre Franklin;
}
body {
  padding: 50px;
  height: 100vh;
}
.main-container {
  max-width: 400px;
  height: 100vh;
}
.main-container .dashboard-img {
  width: 100%;
}
.main-container .logo-img {
  display: block;
  margin: 50px auto;
}
.main-container h2 {
  text-align: center;
  margin: 20px 0px;
}
.main-container p {
  text-align: center;
  margin: 35px 0px;
  color: hsl(0, 0%, 59%);
}
.main-container h2 span {
  color: hsl(0, 0%, 59%);
  font-weight: lighter;
}
.main-container .input-boxes {
  margin-bottom: 80px;
  width: 100%;
}
.main-container .input-boxes input {
  width: 100%;
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 20px;
  border: none;
  border: 1px solid hsl(223, 100%, 88%);
}
.main-container .input-boxes button {
  width: 100%;
  background-color: hsl(223, 87%, 63%);
  border-radius: 20px;
  padding: 15px;
  border: none;
  border: 1px solid hsl(223, 100%, 88%);
  color: white;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.1);
}

.main-container .social-media {
  position: relative;
  top: 200px;
  text-align: center;
}
.main-container .social-media i {
  color: hsl(223, 87%, 63%);
  background-color: white;
  border-radius: 100%;
  border: 1px solid grey;
  padding: 10px;
  margin-right: 15px;
  font-size: 30px;
}
.main-container .social-media p {
  font-size: 16px;
}
